<html>
        <div>
                <h1>Home Page!</h1>
                <a href="{{ url_for('createtask') }}">Create Task</a>

        </div>
        <head>
                {% if title %}
                <title> {{title}} </title>
                {% endif %}
        </head>
        <body>
                {% for msg in get_flashed_messages() %}
                        <li> {{ msg }} </li>
                {% endfor %}

                {% block content %}
                {% endblock %}
        </body>
</html>
