{% extends "base_loggedIn.html" %}

{% block content %}
        <form action="/overview" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <div class="frame">
            <div class="all">
                <h1> All Tasks </h1>
                <p>
                        {% for task in list %}
                                <ul>
                                        <p class = "taskname"> {{ task["Title"] }}
                                                {% if "Reminder" in task %}
                                                        <p class="reminder">DUE IN {{ task["Due_By"] }} DAYS</p>
                                                {% endif %}
                                        </p>
                                        <p class="deadline">Deadline: {{ task["Deadline"]}}</p>
                                        
                                        {% if "Priority" in task != '' %}
                                                <p class="priority">Priority:{{ task["Priority"] }} </p>
                                        {% endif %}

                                        {%if "Category" in task != '' %}
                                               <strong> Category: {{ task["Category"] }} </strong><br>
                                        {% endif %}

                                            <input type="checkbox" name=check value={{ task["ID"] }}> Mark as complete
                </p>
                                </ul>
                        {% endfor %}
                </p>
            <button type="submit" class="btn btn-primary">Save</button>
            </div>
            <div class="complete">
                <h2> Completed Tasks </h2>
                <p>
                        {% for task in completedTasks %}
                                <ul>
                                        <p>
                                            <i class='far fa-check-square' style='font-size:22px;color:red'></i> {{ task["Title"] }}
                                        </p>
                                </ul>
                        {% endfor %}
                </p>
            </div>
            <div class="incomplete">
                <h2> Incomplete Tasks </h2>
                <p>
                        {% for task in uncompletedTasks %}
                                <ul>
                                        <p>
                                            <i class='fas fa-angle-double-right' style='font-size:30px;color:orange'></i> {{ task["Title"] }}
                                        </p>
                                </ul>
                        {% endfor %}
                </p>
            </div>
        </div>
        </form>
{% endblock %}
