{% extends "base.html" %}

{% block content %}
        <form action = "" method = "post" novalidate>
        {{ form.hidden_tag() }}
        <p align="right">
                <a href="{{ url_for('logout') }}"> Log out </a>
        </p>
        <h1> Task List </h1>
        <p>
                {% for task in list %}
                        <ul>
                                {{ task }}
                                {{ form.complete() }} {{ form.complete.label }}
                        </ul>
                {% endfor %}
        </p>
        </form>
{% endblock %}
