{% extends "base_loggedIn.html" %}

{% block content %}
        <form action="/overview" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <div class="frame">
            <div class="all">
                <h1> All Tasks </h1>
                <p>
                        {% for task in list %}
                                <ul>
                                        {% if task["Complete"] %}
                                            <p class = "strikethru"> {{ task["Title"] }}</p>
                                        {% endif %}
                                        {% if not task["Complete"] %}
                                            <p class = "taskname"> {{ task["Title"] }}
                                                {% if "Description" in task %}
                                                        <p class ="description tab">Description: {{task["Description"] }}</p>
                                                {% endif %}
                                                {% if "Reminder" in task %}
                                                        <p class="reminder tab">DUE IN {{ task["Due_By"] }} DAYS</p>
                                                {% endif %}
                                            </p>
                                            <p class="deadline tab">Deadline: {{ task["Deadline"]}}</p>
                                            {% if task["PriorityExists"] %}
                                                <p class="priority tab">Priority: {{ task["PriorityExists"] }} </p>
                                            {% endif %}

                                            {% if task["Category"] %}
                                                <p>
                                                    <strong class="tab"> Category: {{ task["Category"] }} </strong>
                                                </p>
                                            {% endif %}
                                            <p class="tab">
                                                <input type="checkbox" name=check value= {{ task["ID"] }}> Mark as complete
                                            </p>
                                        {% endif %}        
                                </ul>
                        {% endfor %}
                </p>
            {% if buttondisplay['show'] %}
                <p style="font-family: 'Itim', cursive;">
                    <button type="submit" name="submit" value="save" class="btn btn-primary">Save</button>
                    <button type="submit" name="submit" value="clear" class="btn btn-info">Clear All</button>
                </p>
            {% endif %}
            </div>
            <div class="complete">
                <h2> Completed Tasks </h2>
                <p>
                        {% for task in completedTasks %}
                                <ul>
                                        <p class="taskname">
                                            <i class='far fa-check-square' style='font-size:22px;color:red'></i> {{ task["Title"] }}
                                        </p>
                                </ul>
                        {% endfor %}
                </p>
            </div>
            <div class="incomplete">
                <h2> Incomplete Tasks </h2>
                <p>
                        {% for task in uncompletedTasks %}
                                <ul>
                                        <p class="taskname">
                                            <i class='fas fa-angle-double-right' style='font-size:30px;color:orange'></i> {{ task["Title"] }}
                                        </p>
                                </ul>
                        {% endfor %}
                </p>
            </div>
        </div>
        </form>
{% endblock %}
